body {
	padding-top: 50px;    /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
	color: #e77b16;
	}
	
	#services{
		color: #f3c79e;
		font-style: oblique;
		font-size:medium;
	}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #fff;
	}
	
.feature {
	background: url('../images/engage.jpg');
	background-position: top right;
	background-size: cover;
	background-color: #dd845a;
	color: white;
	text-shadow: 1px 1px 8px black;
	}

.feature .btn {
	text-shadow: none;
	}
	
.promo, .footer-map {
	border-width: 100%;
	border-color: rgb(0, 0, 0);
	border-top-style: solid;
	border-bottom-style: solid;
	margin-top: 0;
	margin-bottom: 0;
	}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 1px 1px 8px black;
    text-decoration: none;
}

.promo-item {
    height: 300px;     /* The original height is 200px. I changed it to 300px */
    line-height: 180px;
	width: 100%;        /* I added this with as an extra */
    text-align: center; font-style: italic; font-size: xx-small;  /*font-style and font-size were not there originally*/
}

.promo-item:hover {
    background-size: 110%; 
    border: 5px solid black;
    line-height: 170px;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}
.featured-product > img,
.featured-product > a > img {
	height: 170px;
	width: 100%;
}

.featured-product h3 {
	color: rgb(212, 93, 13);
	font-size: 15px;
	font-weight: 900;
	}
	
.footer-info {
    padding: 1px 0;
    background: #f7f7f7;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: rgb(212, 93, 13);
	}

.footer-info h3 {
	color: rgb(110, 46, 4);
	font-size: 18px;
	}

	
.footer-info-item {
    padding: 10px 20px;
	text-align: center;
	justify-content: center;
    }
    
footer .small-print {
	background-color: #fff;
	text-align: center;
}


/*
*************************** 
Override Bootstrap Classes 
***************************
*/

/* Links */
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  color: rgb(110, 46, 4);
  text-decoration: underline;
}

/* Navbar */
.navbar-default {
  background-color: #fff;
}
.navbar-default .navbar-brand {
  color: #dd845a;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: sienna;
  background-color: transparent;
}

/* Primary Buttons */
.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: orange;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:hover {
  color: darkorange;
  background-color: #fff;
  border-color: darkorange;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: sandybrown;
  border-color: sandybrown;
}